*{margin: 0;padding: 0;box-sizing: border-box;}

.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
div.container{
    border: 1px solid red;
}
div.box{
    /* width: 100px; */
    height: 100px;

}
div.box1{background-color: gray; width: 300px;}
div.box6{background-color: gray; width: 300px;} 
div.box2,.box3,.wrap2{background-color: rgb(24,132,48); float: left;width: 33.33%;}
/* div.wrap2{float: left;} */
div.box4,.box5{background-color: rgb(204,88,26); height: 50px;}


